<html>
<head>
    <title>Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<style>
    ul{list-style: none}
    form{border: 1px solid;padding: 10px;background-color: lightgray }
    h3{text-align: center;color: red}
</style>
<body>
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-4">
            <form method="post">
                {% csrf_token %}
                <h3>Register here..</h3>
                <b>{{ rform.as_p }}</b>
                <center>
                    <input type="submit" value="Register" class="btn btn-success">
                    <input type="reset" value="Clear" class="btn btn-danger"><br>
                    <b style="margin-right: 10px">Already have a Account</b><a href="/login/">Click to Login</a>
                </center>

            </form>
        </div>
    </div>
</div>
</body>
</html>